<link href="~/Content/Pages/Home.css" rel="stylesheet" />
<nav>
    <ul>
        <li><a href="@Url.Action("Index","Calendar")">Calendar</a></li>
        <li><a href="@Url.Action("Index","Orders")">Orders</a></li>
        <li><a href="@Url.Action("Index","Archive")">Archive</a></li>
        <li><a href="@Url.Action("Index","Customers")">Customers</a></li>
        <li><a href="@Url.Action("Index","Products")">Products</a></li>
        <li><a href="@Url.Action("Index","Settings")">Settings</a></li>
    </ul>
</nav>